<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Contact Us</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> 
	<style>
		#med{
			color:brown;
			font-style: oblique;
			
		}
		ul{
		    list-style-type: none;
		}
		h3{
			color:cornflowerblue;
			font-size: larger;
			font-style: oblique;
			
		}
		
		h1{
			color: red;
			font-style:initial;
			text-align: center;
			padding-top: 15%;
		}
		
	</style>
</head>

<body>
	<h3>Contact Details</h3>
	<ul>
	  <li id="med"><i class="fas fa-shop"></i>  Online Medicals</li>
    <li id="med"><i class="fas fa-map-marker-alt" ></i>  Trivandrum, India</li>
    <li id="med"><i class="fas fa-phone" ></i> 9867542010</li>
    <li id="med"><i class="fas fa-envelope" ></i> onlinemedical@store.com</li>
	
	</ul>
	<h1>Thank You , Visit Again!!!</h1>
	
</body>
</html>
