<!DOCTYPE html>
<html>
<head>
    <title>Error Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        header {
            background-color: #333;
            color: white;
            padding: 10px;
            margin: 0;
        }
        .group-of{
			text-align: center;
			color: red;
			padding: 10px;
			margin: auto;
		}
        
  
   
    </style>
</head>
<body style="background-color: bisque;">
	<div th:include="navbar.html"></div>
<div class="group-of">
    <h1>Something went wrong!</h1>
    <h2>Our Engineers are on it</h2>
    <p>Error Code: ${statusCode}</p>
    <a href="/home" style="color: blue;">Go Home</a>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
